body {
    background-image: url("images/Screenshot\ 2026-01-19\ 020438.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}